<!DOCTYPE html>
<html lang="fr">

<%- include('./partials/head.ejs')  %>
<body class="bg-red-100 p-4">

    <%- include('./partials/nav.ejs')  %>

    <container class="section">
        <div class="container">
            <h2 class="title is-1 has-text-primary">All Blogs</h2>
            
            <% if (blogs && blogs.length > 0) { %>
                <% blogs.forEach(blog => { %>
                    <div class="box">
                        <h3 class="title is-4"><%= blog.title %></h3>
                        <p class="content"><%= blog.snippet %></p>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="notification is-warning">Aucun blog pour le moment. Revenez plus tard !</p>
            <% } %>
        </div>
    </container>

    <%- include('./partials/footer.ejs')  %>
    
</body>

</html>
